<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<h1>FORM</h1>
<form th:action="${produto.id == 0 } ? @{/produto/save} : @{/produto/update}" th:object="${produto}" method="post">
    <input type="hidden" th:field="*{id}">
    <input type="text" th:field="*{descricao}"  placeholder="Descrição">
    <input type="text" th:field="*{preco}"  placeholder="Preço">
    <input type="submit" value="Enviar">
</form>
</body>
</html>